# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter
*.ipynb_checkpoints

# Data
*.csv
*.tsv
*.log
*.sqlite
*.db
# (currently) Derived from script
data/extracted-words.json

# OS
.DS_Store
Thumbs.db

# Project files
NOTES.md
Next-Steps.md

# Build
build/
dist/
*.egg-info/

# Test
.coverage
htmlcov/

# Misc
*.swp
*.bak
*.tmp
